SIGOFCv3/Service References/pideOSF_Sunat/SunatService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvdev04:8080/SunatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Request" />
  <xs:import schemaLocation="http://srvdev04:8080/SunatService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Response" />
  <xs:element name="ConsultaRuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Request" minOccurs="0" name="personaRequest" nillable="true" type="q1:PersonaRequest" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Request" minOccurs="0" name="consultaRequest" nillable="true" type="q2:ConsultaInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaRucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Response" minOccurs="0" name="ConsultaRucResult" nillable="true" type="q3:DatosRucResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>