SIGOFCv3/Service References/pideOSF_Sunat/SunatService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosRucResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActividadEconomica_01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActividadEconomica_02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActividadEconomica_03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComercioExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo_01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo_02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DomicilioLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsHabido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaConstitucion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MotivoBaja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreVia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepresentanteLegal" nillable="true" type="tns:ArrayOfDatosRucRepLegalResponse" />
      <xs:element minOccurs="0" name="Telefono_01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono_02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono_03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContabilidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosRucResponse" nillable="true" type="tns:DatosRucResponse" />
  <xs:complexType name="ArrayOfDatosRucRepLegalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatosRucRepLegalResponse" nillable="true" type="tns:DatosRucRepLegalResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatosRucRepLegalResponse" nillable="true" type="tns:ArrayOfDatosRucRepLegalResponse" />
  <xs:complexType name="DatosRucRepLegalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioVigencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosRucRepLegalResponse" nillable="true" type="tns:DatosRucRepLegalResponse" />
</xs:schema>