SIGOFCv3/Service References/pideOSF_Reniec/ReniecService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Osinfor.Pide.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvdev04:8080/ReniecService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Antecedente" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApeMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="GradoAcademico" nillable="true" type="tns:ArrayOfGradoAcademicoResponse" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restriccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="ser:char" />
      <xs:element minOccurs="0" name="Ubigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaResponse" nillable="true" type="tns:PersonaResponse" />
  <xs:complexType name="ArrayOfGradoAcademicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GradoAcademicoResponse" nillable="true" type="tns:GradoAcademicoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGradoAcademicoResponse" nillable="true" type="tns:ArrayOfGradoAcademicoResponse" />
  <xs:complexType name="GradoAcademicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbreviaturaTitulo" type="ser:char" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEmision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaResolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoGestion" type="ser:char" />
      <xs:element minOccurs="0" name="TipoInstitucion" type="ser:char" />
      <xs:element minOccurs="0" name="TituloProfesional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Universidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GradoAcademicoResponse" nillable="true" type="tns:GradoAcademicoResponse" />
</xs:schema>